/README.html
/TODO
/cover.html
/cover.out
/doc/benchmark.html
/doc/rescached.cfg.5.gz
/doc/resolver.1.gz
/heap*
/rescached
/rescached.1.gz
/resolver
/resolverbench
/testdata/rescached.pid
docbook-xsl.css
