## SPDX-FileCopyrightText: 2020 M. Shulhan <ms@kilabit.info>
## SPDX-License-Identifier: GPL-3.0-or-later

[Unit]
Description=Resolver Cache Daemon
Wants=network-online.target nss-lookup.target
After=network.target network-online.target
Before=nss-lookup.target

[Service]
Type=simple
ExecStart=/usr/bin/rescached -config /etc/rescached/rescached.cfg
Restart=on-failure
StandardError=journal

[Install]
WantedBy=multi-user.target
