[Unit]
Description=Resolver Cache Daemon
Wants=network-online.target nss-lookup.target
After=network.target network-online.target
Before=nss-lookup.target

[Service]
Type=simple
PIDFile=/var/run/rescached.pid
ExecStart=/usr/bin/rescached -f /etc/rescached/rescached.cfg
Restart=on-failure
StandardError=journal

[Install]
WantedBy=multi-user.target
