<!DOCTYPE html>
<!-- SPDX-FileCopyrightText: 2022 M. Shulhan <ms@kilabit.info -->
<!-- SPDX-License-Identifier: GPL-3.0-or-later -->
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" href="/index.css" />
    <title>rescached | doc</title>
</head>

<body>
    <nav class="menu">
        <a href="/"> rescached </a>
        /
        <a href="/environment/"> Environment </a>
        /
        <a href="/block.d/"> block.d </a>
        /
        <a href="/hosts.d/"> hosts.d </a>
        /
        <a href="/zone.d/"> zone.d </a>
        /
        <a href="/doc/" class="active"> Documentation </a>
    </nav>

    <div class="page">
        <div class="container">{{.Body}}</div>
    </div>
</body>

</html>
